/* ------------------ */
*{padding:0;margin:0;border:0;box-sizing: border-box;}
a,a:hover{text-decoration:none;}
ul li{list-style:none;}
/* ------------------ */
.main-page { 
	font-family: 'Poppins', sans-serif;
	/* max-width: 1280px; */
	margin: 0 auto;
	text-align: center;
}
.header {
	background-color: #bbbcb7;
}
.menu-item {
	display: inline-block;
}
.menu-item:hover{
	background-color: #c8af99;
}
.menu-item:active{
	background-color: #caa483;
}
.menu-link {
	display: block;
	padding: 20px 55px;
	font-weight: 700;
	font-size: 18px;
	color: #6d4929;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.main {
	background-color: #CECAC4;
}
.main-image {
	width: 100%;
}
.content {
	padding: 0 68px;
}
.content-title {
	font-size: 22px;
	letter-spacing: 3.3px;
	margin: 25px 0px 30px;
}
.content-text {
	margin: 20px 0px 30px;
	line-height: 2;
}
.button {
	display: inline-block;
	background-color: #da6212;
	padding: 17px 50px 18px 50px;
	color: #d5e2ea;
	border: 2px solid #6d4929;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 25px;
}
.button:hover {
	background-color: #bd5714;
}
.button:active {
	background-color: #be4f05;
}
.footer {
	text-align: center;
	background-color: #837C70;
}
.footer-text {
	padding: 25px 105px 25px 0;
	text-align: right;
	font-weight: 700;
	letter-spacing: 2px;
}
